ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    padding: 20px;
    font-size: medium;
    background-color: olivedrab;
}

body {
    background-color: tan;
}